body {
    padding: 12px;
    background: #2c3e50;
}


h6 {
    color: #ecf0f1;
}

    color: #ecf0f1;
}

small {
    color: #ecf0f1;
}


.task {
    padding: 12px;
    margin: 6px;
}

.btn {
    margin: 6px;
    font-size: 12px;
}

.done-task {
    background: green;
}

#submit-add-task {
    background: #ecf0f1;
    border: none;
    color: black;
}

.btn-danger {
    background: #c0392b;
    border: 1px solid #c0392b;
}

.btn-success {
    background: #27ae60;
    border: 1px solid #27ae60;
}
